@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --milky: #F5F7FA;
  --light-blue: #4EA5FF;
  --dark-blue: #207BFF;
  --tc-font: "Noto Sans TC", sans-serif;
  --sc-font: "Noto Sans SC", sans-serif;
  --en-font: "Noto Sans", sans-serif;
  --space-big: 15px;
  --space-small: 5px;
}

* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

header h1 {
    color: var(--dark-blue);
    text-align: center;
}
