@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --milky: #F5F7FA;
  --dark-blue: #5fa0ff;
  --grey: #9a9a9a;
  --tc-font: "Noto Sans TC", sans-serif;
  --sc-font: "Noto Sans SC", sans-serif;
  --en-font: "Noto Sans", sans-serif;
  --space-big: 15px;
  --space-small: 5px;
}

* {
  box-sizing: border-box;
}

/* basic frame */
.dark-mode {
  background-color: #121212;
  color: var(--milky)
}

.dark-mode textarea::placeholder {
  color: var(--grey);
}

#root > div {
    width: 100vw;
    padding: 3% 10%;
    font-family: var(--en-font), var(--tc-font);
    margin: 0 auto;
} 

.switch {
  display: flex;
  gap: var(--space-small)
}
/* title */
h1 {
  text-align: center;
}

/* question mark next to title */
.icon-questionMark {
  cursor: pointer;
}

/* instructions below title */
/* header > p {
  text-align: center;
  color: var(--dark-blue);
} */

/* title and question mark of each section */
section > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hint-div {
  max-height: 0;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.hint-div.expand {
  max-height: 1000px;
  transition: max-height 0.5s ease;
}

#article-section .dark-mode .ant-input-data-count {
  color: var(--milky);
}

/* renderingWindow of each section */
.renderingWindow {
  border: 1px solid #9a9a9a;
  padding: var(--space-big);
  list-style-type: none;
  margin: 0px;
  font-size: 1rem;
  font-family: var(--en-font), var(--tc-font);
}

/* listing of renderingWindow */
.renderingWindow textarea {
  width: 100%;
  border: 0;
  font-family: var(--en-font), var(--tc-font);
}
.renderingWindow > li {
  display: flex;
  flex-direction: row;
}
.renderingWindow li::before {
  content: '➣';
  display: inline-block;
  padding-right: var(--space-small);
}

/* button div */
section > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
section > div:last-child button {
  margin: var(--space-small);
}

/* setting for articleSection */
#article-section .renderingWindow {
  border-radius: 0;
}
#article-section .renderingWindow span {
  color: #9a9a9a;
}

/* setting for sentenceSection */
#sentences-section .renderingWindow li::before {
  color: #9a9a9a;
}


/* setting for translationSection */
/* #translation-section .renderingWindow li {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto, 1fr;
  grid-template-areas: 
    "arrow original-text"
    "space translation-text";
}
.original-text {
  grid-area: original-text;
}
.translation-text {
  color: var(--dark-blue);
  grid-area: translation-text;
} */

/* text next to translation buttons */
label {
  align-self: center;
}

/* Rendering window of NotesSection */
/* #notes-section .renderingWindow {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: var(--space-big);
  justify-content: center;
  border: 1px solid #9a9a9a;
  min-height: 3rem;
  padding: var(--space-big);
} */
/* #notes-section .renderingWindow textarea {
  height: auto;
  padding: var(--space-big);
  font-size: 1rem;
  font-family: var(--en-font), var(--tc-font);
  box-shadow: 1px, 1px, 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #9a9a9a;
  box-shadow: 1px 1px 3px #9a9a9a;
} */

