@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --milky: #F5F7FA;
  --dark-blue: #5fa0ff;
  --grey: #9a9a9a;
  --tc-font: "Noto Sans TC", sans-serif;
  --sc-font: "Noto Sans SC", sans-serif;
  --en-font: "Noto Sans", sans-serif;
  --space-big: 15px;
  --space-small: 5px;
}

* {
  box-sizing: border-box;
}

/* basic frame */
.dark-mode {
  background-color: #121212;
  color: var(--milky)
}

.dark-mode textarea::placeholder {
  color: var(--grey);
}

#root > div {
    width: 100vw;
    padding: 3% 10%;
    font-family: var(--en-font), var(--tc-font);
    margin: 0 auto;
} 

.switch {
  display: flex;
  gap: var(--space-small)
}
/* title */
h1 {
  text-align: center;
}

/* question mark next to title */
.icon-questionMark {
  cursor: pointer;
}

/* title and question mark of each section */
section > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hint-div {
  max-height: 0;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.hint-div.expand {
  max-height: 1000px;
  transition: max-height 0.5s ease;
}

#article-section .dark-mode .ant-input-data-count {
  color: var(--milky);
}

/* button div */
/* section > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
section > div:last-child button {
  margin: var(--space-small);
} */
